<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome User!{% endblock %}</title>
  
    {% block stylesheets %}
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}"/>
        
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="{{ asset('vendor/owl.carousel2/assets/owl.carousel.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('vendor/owl.carousel2/assets/owl.theme.default.min.css') }}"/>
    <!-- Google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:300,400&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{{ asset('css/all.css') }}"/>
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}"/>
    <!-- Favicon-->
    {# <link rel="shortcut icon" href="{{ asset('img/favicon.png') }}"> #}
      
    <!-- Month picker -->
    {# <link href="https://netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet"> #}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css" rel="stylesheet">


    <!-- Date Picker -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    {% endblock %}


  </head>
  <body>
  <!-- Header-->
  <header class="header">
      <!-- Top bar -->
      <div class="py-2 bg-dark text-white">
        <div class="container py-1">
          <div class="row align-items-center">
            <div class="col-lg-4">
              <ul class="list-inline mb-0 text-small">
                <li class="list-inline-item"><a class="reset-anchor" href="#">About us</a></li>
                <li class="list-inline-item">|</li>
                <li class="list-inline-item"><a class="reset-anchor" href="#">Sitemap</a></li>
              </ul>
            </div>
            <div class="col-lg-4 d-none d-lg-block text-center">
              <ul class="list-inline mb-0 small">
                <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-twitter"></i></a></li>
                <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-instagram"></i></a></li>
                <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-linkedin"></i></a></li>
                <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-youtube"></i></a></li>
                <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-vimeo-v"></i></a></li>
              </ul>
            </div>
            <div class="col-lg-4 d-none d-lg-block text-right">
                {% if app.user %}
                  Welcome, <a class="" style="color:white; text-decoration: none;">{{ app.user.name }}</a>
                  <li class="list-inline-item"><a class="reset-anchor" href="{{ path('app_logout') }}" style="color:white; text-decoration: none; margin-left:30px;">Logout</a></li>
                {% else %}
                  <a class="reset-anchor" href="{{ path('app_login') }}" style="color:white; text-decoration: none; margin-left:10px;">Login</a>
                  <a class="reset-anchor" href="{{ path('registration') }}" style="color:white; text-decoration: none; margin-left:10px;">Register</a>
                {% endif %}
            </div>
          </div>
        </div>
      </div>
      <!-- Navbar 1 -->
      <nav class="navbar navbar-expand-lg navbar-light bg-white py-4">
        <div class="container text-center">
            <a class="navbar-brand mx-auto" href="#"><img class="" src="{{ asset('img/logo.png') }}" alt="logo missing" width="180">
            </a>
        </div>
      </nav>
      <!-- Navbar 2 -->
      <nav class="navbar navbar-expand-lg navbar-light border-gray py-2 bg-light">
        <div class="container">
          <button class="navbar-toggler navbar-toggler-right mx-auto border-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto" id="testul">
              <li class="nav-item px-1">
              <a class="nav-link active" href="{{ path('blog_index')}}">Home</a>
              </li>
              <li>
              <a class="nav-link" href="{{ path('blog_filter_date')}}">Filter by Date</a>
              </li>
              <li class="nav-item px-1 dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
                <div class="dropdown-menu text-center text-lg-left" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{{ path('blog_category', {'category': 'technology'}) }}">Technology</a>
                  <a class="dropdown-item" href="{{ path('blog_category', {'category': 'science'}) }}">Science</a>
                  <a class="dropdown-item" href="{{ path('blog_category', {'category': 'medical'}) }}">Medical</a>
                  <a class="dropdown-item" href="{{ path('blog_category', {'category': 'food'}) }}">Food</a>
                </div>
              </li>
              {% if app.user %}
               <li class="nav-item px-1 dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog</a>
                  <div class="dropdown-menu text-center text-lg-left" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ path('blog_new') }}">Add Blog</a>
                    <a class="dropdown-item" href="{{ path('all_user_blog')}}">See all Blogs</a>
                    <a class="dropdown-item" href="{{ path('all_user_comments') }}">See all Comments</a>
                  </div>
              </li>
              {% else %}

              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>


    {% if app.user %}
        {% for message in app.flashes('success') %}
        <div class="alert alert-success" id="successMessage">
          {{ message }}
        </div>
        {% endfor %}
    {% else %}
       
    {% endif %}
   
    {% block body %}{% endblock %} 


    <!-- Subscribe section -->
    <section class="py-5">
      <div class="container py-4">
        <div class="row align-items-center">
          <div class="col-lg-6 position-relative py-4">
            <img class="subscribe-img" src="{{ asset('img/subscribe-img-3.jpg') }}" alt="">
            <img class="subscribe-img" src="{{ asset('img/subscribe-img-1.jpg') }}" alt="">
          </div>
          <div class="col-lg-6">
            <h2>Best money saving - Blog tips</h2>
            <p class="text-muted mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos quidem facere aliquam, delectus, incidunt ipsum fugit deserunt ducimus quibusdam consequuntur quos numquam ipsa suscipit animi dolore. Est beatae inventore voluptas.</p>
            <form action="#">
              <div class="row">
                <div class="form-group col-lg-8">
                  <input class="form-control" type="email" name="email" placeholder="Enter your email address">
                </div>
                <div class="form-group col-lg-4">
                  <button class="btn btn-dark btn-block" type="submit">Subscribe</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section> 
    <!-- Top categories section -->
    <section class="py-5 bg-light">
      <div class="container py-4">
        <header class="mb-5 text-center">
          <h2>Top categories</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
        </header>
        <div class="row text-center">
          <div class="col-lg-2 col-md-4 col-sm-6 mb-4 mb-lg-0"><a class="reset-anchor d-block" href="#">
              <svg class="svg-icon mb-3 svg-icon-big svg-icon-light text-primary">
                <use xlink:href="#food-1"> </use>
              </svg>
              <h3 class="h5">Food One</h3>
              <p class="text-muted text-small">200 Blogs</p></a></div>
          <div class="col-lg-2 col-md-4 col-sm-6 mb-4 mb-lg-0"><a class="reset-anchor d-block" href="#">
              <svg class="svg-icon mb-3 svg-icon-big svg-icon-light text-primary">
                <use xlink:href="#paper-bag-1"> </use>
              </svg>
              <h3 class="h5 mb-1">Marketing Blogs</h3>
              <p class="text-muted text-small">100 Blogs</p></a></div>
          <div class="col-lg-2 col-md-4 col-sm-6 mb-4 mb-lg-0"><a class="reset-anchor d-block" href="#">
              <svg class="svg-icon mb-3 svg-icon-big svg-icon-light text-primary">
                <use xlink:href="#special-price-1"> </use>
              </svg>
              <h3 class="h5 mb-1">Government Blogs</h3>
              <p class="text-muted text-small">200 Blogs</p></a></div>
          <div class="col-lg-2 col-md-4 col-sm-6 mb-4 mb-lg-0"><a class="reset-anchor d-block" href="#">
              <svg class="svg-icon mb-3 svg-icon-big svg-icon-light text-primary">
                <use xlink:href="#movie-camera-1"> </use>
              </svg>
              <h3 class="h5 mb-1">Wedding Blogs</h3>
              <p class="text-muted text-small">300 Blogs</p></a></div>
          <div class="col-lg-2 col-md-4 col-sm-6 mb-4 mb-lg-0"><a class="reset-anchor d-block" href="#">
              <svg class="svg-icon mb-3 svg-icon-big svg-icon-light text-primary">
                <use xlink:href="#beach-1"> </use>
              </svg>
              <h3 class="h5 mb-1">Picnic Blogs</h3>
              <p class="text-muted text-small">100 Blogs</p></a></div>
          <div class="col-lg-2 col-md-4 col-sm-6 mb-4 mb-lg-0"><a class="reset-anchor d-block" href="#">
              <svg class="svg-icon mb-3 svg-icon-big svg-icon-light text-primary">
                <use xlink:href="#camping-1"> </use>
              </svg>
              <h3 class="h5 mb-1">Home Blogs</h3>
              <p class="text-muted text-small">200 Blogs</p></a></div>
        </div>
      </div>
    </section>
   
    <!-- Footer -->
    <footer class="bg-dark py-4">
      <div class="container">
        <div class="row py-2">
          <div class="col-lg-4 text-center text-lg-left mb-2 mb-lg-0">
            <p class="small text-muted text-uppercase mb-0">&copy; copyright 2021 - all rights reserved</p>
          </div>
          <div class="col-lg-4 text-center mb-2 mb-lg-0">
            <ul class="list-inline text-white small mb-0">
              <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-twitter"></i></a></li>
              <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-instagram"></i></a></li>
              <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-linkedin"></i></a></li>
              <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-youtube"></i></a></li>
              <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-vimeo-v"></i></a></li>
            </ul>
          </div>
          <div class="col-lg-4 text-center text-lg-right">
            <p class="small text-muted text-uppercase mb-0">Keyur Panchal  <a href="#">www.blogword.com</a>. </p>
          </div>
        </div>
      </div>
    </footer>
            
    {% block javascripts %}
    <script  src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
    <script  src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script  src="{{ asset('vendor/owl.carousel2/owl.carousel.min.js') }}"></script>
    <script  src="{{ asset('js/front.js') }}"></script>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.min.js"></script>
    
    <script type="text/javascript" src="{{ asset('js/datepicker.js') }}"></script>
   
    <script>
      function injectSvgSprite(path) {
      
          var ajax = new XMLHttpRequest();
          ajax.open("GET", path, true);
          ajax.send();
          ajax.onload = function(e) {
          var div = document.createElement("div");
          div.className = 'd-none';
          div.innerHTML = ajax.responseText;
          document.body.insertBefore(div, document.body.childNodes[0]);
          }
      }
      injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg'); 
      
    </script>
   
    <script>
      setTimeout(function() {
        $('#successMessage').delay(3000).slideUp(300);
      }, 3000);

    </script>

    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
 
     
    {% endblock %}
  
  </body>
</html>